@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p><a class="btn btn-primary" asp-page="/Admin/Index">Go to Admin</a></p>
<p><a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Login">Login</a></p>
<p><a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Register">Register</a></p>